<%- contentFor('title') %>Home
<%- contentFor('body') %>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
     
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item active">
           <a class="nav-link" href="/Home">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/school">School</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/school?name=Raymond&lastname=Huang">Raymond Huang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/school?name=Raymond%20Middle&lastname=Huang">Click Me</a>
        </li>
       </ul>
     </div>
   </nav>
     
  <ul>

      <a href="/form">Form</a>









       <% for(let record of records) { %>
            <li><a href="/posts?id=<%= record.id%>"><%= record.from %> :-) <%=(record.full_text)%></a></li>
       <% } %>
  </ul>
       <div align="center">
       <h1>Raymond Huang</h1> 
       </div>
               <p><b>&nbsp Three facts about me:</b></p>

      <ul>
           <li>I enjoy going to the gym</li>
           <li>I want to become a full stack developer</li>
           <li>I've recently developed an interest in airsoft sport</li>
      </ul>

     <form method="get" action="/school"> <!-- Get the link you want, in this case school link-->
         <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"> <!-- Create a textholder for first name-->
         <input type="text" id="lastname" name="lastname" required minlength="4" maxlength="8" size="10"> <!--Create a textholder for lastname-->
         <button type="Submit">Submit</button><!--Submit and then it will direct you to school link-->
    </form>

    <form method="post" action="/school2"> <!-- Instead of putting it into the url we post here-->
         <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"> <!-- Create a textholder for first name-->
         <input type="text" id="lastname" name="lastname" required minlength="4" maxlength="8" size="10"> <!--Create a textholder for lastname-->
         <button type="Submit">Submit</button><!--Submit and then it will direct you to school link-->
    </form>

    <form method="post" action="/school3"> <!-- Instead of putting it into the url we post here-->
         <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"> <!-- Create a textholder for first name-->
         <input type="text" id="lastname" name="lastname" required minlength="4" maxlength="8" size="10"> <!--Create a textholder for lastname-->
         <button type="Submit">Submit</button><!--Submit and then it will direct you to school link-->
    </form>


    <form> 
         Please click me and you'll be surprised:<br>
        <button id= "button1">Click me to see results</button>  
   </form>

    <script> 
        
          $("#button1").click(function(e) {   //Creating a click function
            e.preventDefault()  //This method prevent the link from going to another pop up url page
            $.ajax({ //Allow web pages to be updated asynchronously by exchanging small amounts of data with the server behind the scene.
              type: "GET",
              url: "https://sv443.net/jokeapi/category/programming",
              success: function(data){
                  
                  if (data.joke) {
                   alert(data.joke)
                  }
              },
              error: function(data){
                alert("This is an error")
              }
            })
          }) 
        

    </script>


    


    