<%- contentFor('title') %>TODOs
<%- contentFor('body') %>
<h1>TODOs Page</h1>



    <p><a href="/todo/new">New TODO</a></p>


<% for(let record of records) {%>
<li><a href="/todo/<%= record.id %>"><%= record.from %> :-) <%=record.title%></a><br></li>
<% } %>

}